<footer>
    <div class="f-info mt-3" style="text-align: center;
    height: 8rem;
    display: flex;
    background-color:#ebebeb ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space;">
       <div class="f-info-socials">
        <i class="fa-brands fa-square-facebook" style=" margin-right: 1rem;
    font-size: 1.2rem;"></i>
        <i class="fa-brands fa-instagram" ></i>
        <i class="fa-brands fa-linkedin" ></i>
       </div>
       <div class="f-info-brand" >&copy; Yatrika Private Limited  </div>
       <div class="f-info-links" >
        <a href="/privacy" style="text-decoration: none;
    color: #222222;"> Privacy</a>
        <a href="/terms" style="text-decoration: none;
    color: #222222;">Terms</a>
       </div>
    </div>
</footer>