<%layout("/layouts/boilerplate")%>

<body>
    <form action="/listings/search/<%=listing._id%>" class="comfirmationContainer">
         <h1 class="mb-5">BOOKING SUCCESSFUL!!!!</h1>
    <button class="btn btn-dark ">EXPLORE NEARBY BUSINESSES</button>
    </form>
   
</body>